body {
  padding: 0;
  margin: 0;
  height: 100%;
  background: white;
}

.create-container, .update-container, .delete-container {
  display: inline-block;
  background-color: white;
  box-shadow: white;
  margin-top: 0px;
  width: 300px;
  height: 300px;
  vertical-align: top;
}

.update-container {
  margin-left: 150px;
  margin-right: 120px;
}

.create-container {
  margin-left: 120px;
}

.find-container {
  display: inline-block;
  margin-top: 50px;
  margin-left: 150px;
}

input[type="text"] {
  text-align: center;
  padding: 10px;
  font-size: 25px;
  margin-bottom: 20px;
  border: white;
  color: black; 
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

input[type="text"]:focus {
  outline: none; 
  border-color: #ccc; 
  box-shadow: 0 0 5px #cfcdcd; 
}

input[type="text"]::placeholder {
  text-align: center;
  font-family: Helvetica;
  font-weight:lighter;
  color: black; 
}

input[type="text"]:focus::placeholder {
  color: rgb(163, 152, 152); 
}

.button {
  display: inline-block;
  font-family: Helvetica;
  font-weight: lighter;
  font-size: 35px;
  width: 290px;
  text-align: center;
}

.span {
  cursor: pointer;
}

.span:hover {
  cursor: pointer;
  opacity: 0.8;
  text-decoration: underline;
  text-underline-offset: 3px; 
  text-decoration-thickness: 2px;
}

.link {
  display: inline-block;
  font-family: Helvetica;
  font-weight: lighter;
  font-size: 35px;
  width: 262px;
  text-align: center;
  margin-left: 20px;
  margin-top: 50px;
}

.dataFromSQL {
  display: inline-block;
  color: #7c7272;
  text-align: center;
  position: absolute;
  top: 375px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.detailedDataFromSQL {
  display: inline-block;
  color: #7c7272;
  text-align: center;
  position: absolute;
  top: 475px;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Animace */

.marquee {
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: 165px;
  overflow-x: hidden;
  font-family: Helvetica;
  font-size: 140px;
}

.track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 150s linear infinite;
}

@keyframes marquee {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}

/* Animace */

#circ{
  display: inline-block;
  margin-left: 120px;
  font-size: 10px;
  font-family: Helvetica;
  font-weight: lighter;
  animation: spin 50s linear infinite;
  color: black;
}

@keyframes spin{
  100%{
      transform: rotate(360deg);
  }
}

